@charset "UTF-8";

body {
    background-image: url(../img/fundo-cadastro.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif; /* Adiciona a fonte Inter ao body */
}


h1 {
    margin: 35px;
    text-align: left;
}

.card {
    margin: auto;
    border: 3px solid #C99C65;
    border-radius: 15px;
    width: 70rem; /* Card mais retangular */
    box-shadow: 0 16px 26px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 40px; /* Ajusta o padding do card */
    position: relative;
}

.section-title {
    font-size: 1.5rem; /* Tamanho da fonte alterado */
    font-weight: normal; /* Altera para sem negrito */
    text-align: left;
    margin-bottom: 5px;
    color: black;
    border-bottom: 1px solid #C99C65; /* Linha abaixo do título */
    padding-bottom: 3px; /* Espaço entre o texto e a linha */
    width: 25%;
}

.section-divider {
    border: 1px solid #C99C65;
    margin: 20px 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Ajusta o espaço entre as linhas */
}

.form-group {
    display: flex; /* Coloca a label e o input lado a lado */
    align-items: center; /* Alinha verticalmente a label e o input */
    margin-bottom: 10px; /* Diminui o espaço entre os campos */
    width: 100%; /* Ajusta a largura da seção do grupo */
}

.label {
    width: 30%; /* Ajusta a largura da label para um tamanho fixo */
    margin-right: 10px; /* Adiciona um espaço entre a label e o input */
}

.form-control {
    border-radius: 10px; /* Inputs mais arredondados */
    padding: 8px; /* Ajusta o padding dos inputs */
    width: 300px; /* Define um comprimento fixo para todos os inputs */
    border: 1px solid #C99C65; /* Adiciona uma borda colorida aos inputs */
    transition: border-color 0.3s; /* Transição suave para o foco */
    height: 40px; /* Define uma altura fixa para os inputs */
}

.form-control:focus {
    border-color: #A76A4D; /* Altera a cor da borda ao focar no input */
    outline: none; /* Remove o contorno padrão */
}

button {
    display: inline-block;
    background: transparent;
    border-radius: 10px;
    border: none;
    background-color: #C99C65;
    padding: 8px 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: relative; /* Mantém o botão no fluxo normal */
    margin-top: 20px; /* Espaço acima do botão */
}

button:hover {
    background-color: #A76A4D; /* Muda a cor do botão ao passar o mouse */
}

.section-title .icon {
    width: 30px; /* Largura do ícone */
    height: 30px; /* Altura do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    fill: #C99C65; /* Cor do ícone */
}