@charset "UTF-8";

body {
    background-image: url(../img/fundo-cadastro.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif; /* Adiciona a fonte Inter ao body */
}

h1 {
    font-size: 35px;
    text-align: left; /* Alinhamento à esquerda em relação ao card */
    margin-bottom: 20px;
    color: #000000; /* Cor do título */
}

.card {
    margin: auto;
    border: 3px solid #C99C65;
    border-radius: 15px;
    width: 55rem; /* Diminui a largura do card */
    box-shadow: 0 16px 26px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 50px; /* Ajusta o padding do card */
    position: relative;
}

.form-group {
    display: flex; /* Coloca a label e o input lado a lado */
    align-items: center; /* Alinha verticalmente a label e o input */
    margin-bottom: 10px; /* Diminui o espaço entre os campos */
    width: 100%; /* Ajusta a largura da seção do grupo */
}

.form-group label {
    width: 150px; /* Define uma largura fixa para as labels */
    margin-right: 25px; /* Espaço entre a label e o input */
    text-align: right; /* Alinha o texto da label à direita */
}

.form-control {
    border-radius: 10px; /* Inputs mais arredondados */
    padding: 5px; /* Ajusta o padding dos inputs */
    width: 200px; /* Define um comprimento menor para todos os inputs */
    border: 1px solid #C99C65; /* Adiciona uma borda colorida aos inputs */
    transition: border-color 0.3s; /* Transição suave para o foco */
    height: 15px; /* Diminui a altura dos inputs */
}

.form-control:focus {
    border-color: #A76A4D; /* Altera a cor da borda ao focar no input */
    outline: none; /* Remove o contorno padrão */
}

button {
    background-color: #b07d48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    transition: transform 0.6s ease, background-color 0.6s ease;
    will-change: transform; 
}

button:hover {
    background-color: #7a3f24; /* Muda a cor do botão ao passar o mouse */
}

.section-title {
    font-size: 22px; /* Aumentado o tamanho da fonte do título da seção */
    color: #000000; /* Cor do título da seção */
    margin-top: 20px;
    margin-bottom: 25px; /* Ajusta o espaço abaixo do título da seção */
    position: relative;
    font-family: 'Abel', sans-serif; /* Fonte dos títulos das seções */
}

.section-icon {
    width: 25px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto; /* Mantém a proporção do ícone */
    margin-right: 8px; /* Espaço à direita do ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}


.divider {
    border: none; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #C99C65; /* Cor da linha */
    margin: 30px 0; /* Espaçamento acima e abaixo da linha */
    box-shadow: 0 2px 4px #C99C65; /* Sombra: deslocamento x, deslocamento y, desfoque, cor */
}

/* Linha curta abaixo do título da seção */
.section-title::after {
    content: '';
    display: block;
    width: 300px; /* Largura da linha curta */
    height: 1px;
    background-color: #D3B69A;
    position: absolute;
    bottom: -7px; /* Ajuste de posicionamento abaixo do título */
    left: 0;
}

.voltar {
    background-color: #b07d48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    transition: transform 0.6s ease, background-color 0.6s ease;
    will-change: transform;
    text-decoration: none;
}

.voltar:hover {
    background-color: #BA8C6A;
    transform: scale(1.1);
    text-decoration: none;
}
