@charset "UTF-8";

* {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-style: normal;
}

h1 {
    font-weight: bold;    
    letter-spacing: 0.3em;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.01rem;
}

nav li a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.2rem;
}
