@charset "UTF-8";

body {
    background-image: url(../img/fundo-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    background-color: #795127;
    margin: 5vh; /* Add margin to create spacing between cards */
}

.card p {
    color: #fff; /* Muda a cor do texto para branco */
    text-align: center; /* Centraliza o texto */
}