body {
  margin-top: 40px;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#wrap {
  display: flex; /* Cria um layout flexível */
  justify-content: space-between; /* Espaço entre os calendários */
  gap: 20px; /* Espaçamento entre os calendários */
}

#calendar {
  flex: 4; /* Aumenta o espaço ocupado pelo calendário principal */
  min-width: 70%; /* Limita a largura para o principal ocupar uma maior proporção da tela */
  padding-bottom: 50px;
}

#calendarMonth {
  flex: 1; /* Garante que o calendário menor ocupe menos espaço */
  padding: 10px; /* Adiciona um pouco de preenchimento */
}

/* Define a altura das células do calendário mensal */
#calendarMonth .fc-daygrid-day {
  height: 0; /* Ajuste este valor conforme necessário */
}

/* Centraliza o número na célula */
#calendarMonth .fc-daygrid-day .fc-daygrid-day-number {
  line-height: 0; /* Centraliza o número na célula */
}

.fc-toolbar .btn-primary {
  background-color: #007bff; /* Cor do botão */
  border-color: #0056b3;
}

.fc-toolbar .btn-primary:hover {
  background-color: #0056b3;
}

